<a href="https://colab.research.google.com/github/codeforhk/python_course/blob/master/py_class_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


    
<img src="https://www.codefor.hk/wp-content/themes/DC_CUSTOM_THEME/img/logo-code-for-hk-logo.svg" height="150" width="150"  align="center"/>
<h1><center>Code For Hong Kong - Python class 3</center></h1>
<h6><center>Written by Patrick Leung</center></h6>

# 6.0.0 Python Functions

## 6.1.0 What is a function?

A function is a block of organized, reusable code that is used to perform a single, related action. Functions provide better modularity for your application and a high degree of code reusing.

 You’re already familiar with the print(), input(), and len() functions from the previous chapters. Python provides several builtin functions like these, but you can also write your own functions.  These functions are called user-defined functions.


![Image of Yaktocat](https://cdn-learn.adafruit.com/assets/assets/000/058/742/medium800/circuitpython_function-big.png?1533749193)

![Image of Yaktocat](https://d2h0cx97tjks2p.cloudfront.net/blogs/wp-content/uploads/sites/2/2018/01/Python-Functions.jpg)

## 6.2.0 The structure and syntax of a function

- Function blocks begin with the keyword def followed by the function name and parentheses ( ( ) ).

- Any input parameters or arguments should be placed within these parentheses. You can also define parameters inside these parentheses.

- The first statement of a function can be an optional statement - the documentation string of the function or docstring.

- The code block within every function starts with a colon (:) and is indented.

- The statement return [expression] exits a function, optionally passing back an expression to the caller. A return statement with no arguments is the same as return None.

![Image of Yaktocat](https://swcarpentry.github.io/python-novice-inflammation/fig/python-function.svg)

In [0]:
def fahr_to_celsius(temp):
    return ((temp - 32)) * (5/9)

fahr_to_celsius(100)

37.77777777777778

### 6.2.1 The syntax of function

![Image of Yaktocat](http://www.informit.com/content/images/chap2_9780134076430/elementLinks/p0215_01.jpg)

To make it more coder friendly, this is how it looks like in a code format

In [0]:
def function-name(Parameter list):
    statements, i.e. the function body

#### Example 6.2.1

Try write a function to return the sum of 2 number

In [0]:
def sum_of_two_number( a, b):
  return a+b

# to call the function
sum_2(1,2)

3

#### Exercise 6.2.1

Try write a function to return the multiple of 3 numbers

In [0]:
def mult_three_number():
    # some logic
    return

## 6.2.2 Parameters of function

If you think about it, function is just a wrapper of a logic, with the input as parameter, and output as return

#### Example 6.2.2

In [0]:
# a function can still work without a parameter

def jay_chou():
  return "is by default, cool"

anushree()

'is by default, cool'

In [0]:
# a function can work with an input parameter, or even multiple

def jay_chou( profession):
  if profession == 'singer':
      return "is cool"
  else:
      return "he sucks when he doesn't sing"

jay_chou('singer')

'is cool'

In [0]:
# or you can do this

jay_chou(profession = 'singer')

'is cool'

In [0]:
# You can also add a default variable. Here I set him to be a singer by default

def jay_chou( profession = 'singer'):
  if profession == 'singer':
      return "is cool"
  else:
      return "he sucks when he doesn't sing"

In [0]:
# You can also add multiple variable

def jay_chou(year, profession = 'singer'):
  if year > 2010:
      return "his song sucks after 2010"
      
  if profession == 'singer':
      return "is cool"
  else:
      return "he sucks when he doesn't sing"
    
jay_chou(2009, 'singer')

'is cool'

Docstring is a description of the function. You can add it by using 3 "

In [0]:
def add(x, y):
    """Return x plus y"""
    return x + y

In [0]:
def jay_chou(year, profession = 'singer'):
  ''' 
  This is a function to explain jaychou is a good singer before 2010, otherwise he sucks
  
  arg:
      year = numeric year
      profession: can be any string
  
  '''
  if year > 2010:
      return "his song sucks after 2010"
      
  if profession == 'singer':
      return "is cool"
  else:
      return "he sucks when he doesn't sing"

In [0]:
# and you can call by using a question mark

jay_chou?

#### Example 6.2.2

a) Try write a function of suming 2 number

b) Try write a function of multiplying 2 number

c) Try write a function with an extra variable, that if mode = "sum", do the sum of 2 number. If mode = "multiply", do the multiply of 2 number

d) Try set the default mode as sum

e) Try use a doc string to explain that

## 6.3.0 Local and Global Scope

In python, there are local variables and global variables. 

Local Variables Cannot Be Used in the Global Scope

#### Example 6.3.0 Local and Global Variables with the Same Name

In [0]:
x = 10

def something():
  x = 100
  return x

print(x)

10

## 6.4.0 Error Handling

To handle Error, you can use try & except

In [0]:

try:
  asdfasdfasdf
except:
  print("this is an error!")

this is an error!

# 7.0.0 Python Recap & advance technique

![Image of Yaktocat](https://cdn.intellipaat.com/mediaFiles/2018/11/Python-Basics-Cheat-Sheet-1-1.png)

## 7.1.0 Loop recap

- You can loop through a list, a string or a range(index)
- If you want to add all operation in a loop into a list, you can throw them inside an empty list

In [0]:
x = 'patrick'

In [0]:
for i in range(len(x)):
    print(x[i])

p
a
t
r
i
c
k

In [0]:
#list
x = 'patrick'
for i in range(len(x)):
    print(i)

0
1
2
3
4
5
6

In [0]:
#list
x = [1,2,3]
for i in x:
    print(i*2)

#string
x = 'data'
for i in x:
    print(i)
    
#index
for i in range(3):
    print(i)

In [0]:
#throw it to empty list
empty_list = [] #this is an empty list
for i in range(3):
    empty_list.append(i)
empty_list

[0, 1, 2]

#### Exercise 7.1.1

Write a loop to multiply every number by 3 in list [1,2,3,4]. Output your answer in a list

In [0]:
x = [1,2,3,4]
#your code here

for i in x:
    print(i*3)

3
6
9
12

In [0]:
[(i*3)  for i in x if i!= 2]

[3, 9, 12]

In [0]:
[(i*3) if i!=2 else i for i in x ]

[3, 2, 9, 12]

### 7.1.2 list comprehension

- In python, there is a efficient way to write loop, which is called the list comprehension. It simply "flatten" the for loop into a one liner. 
- Notice that it is bounded by a square bracket? square bracket is a sign for a 'list', and it is there because list comprehension will always output as a list!

![Image of Yaktocat](http://python-3-patterns-idioms-test.readthedocs.io/en/latest/_images/listComprehensions.gif)

In [0]:
empty_list = []
for i in [1,2,3]:
    empty_list.append(i*2)

In [0]:
[i*2 for i in [1,2,3]]

[2, 4, 6]

In [0]:
firstexample = [i*2 for i in [1,2,3]]
print(firstexample)

secondexample = [i for i in 'data']
print(secondexample)

thirdexample = [i for i in range(3)]
print(thirdexample)

[2, 4, 6]
['d', 'a', 't', 'a']
[0, 1, 2]

#### Example 7.1.2 Convert loop to list comprehension

- Write a for loop that loop from 0 to 3. Skip "2" in the loop
- Transform this loop to list comprehension

In [0]:
empty_list = []
for i in range(4):
    if(i!=2):
        empty_list.append(i)
empty_list

[0, 1, 3]

In [0]:
['double' if i==2 else i for i in range(4)  ]

[0, 1, 'double', 3]

- Write a for loop that loop from 0 to 3. **Convert '2' into '_'**
- Transform this loop to list comprehension

In [0]:
empty_list = []
for i in range(4):
    if(i!=2):
        empty_list.append(i)
    else:
        empty_list.append('_')
empty_list

[0, 1, '_', 3]

In [0]:
#your code here

#### Exercise 7.1.2 Convert loop to list comprehension

convert below to list comprehension

In [0]:
empty_list = []
for i  in 'abc':
    if i=='a':
        empty_list.append('b')
    else:
        empty_list.append(i)
empty_list

['b', 'b', 'c']

In [0]:
#your code here

#### Example 7.1.3 Advance list comprehension

- Given 
x = ['a','b','c','d']
y = [0,1,2,3]
c = 'c'
- if x = c , replace x with the corresponding position in y
- Transform the loop to list comprehension

In [0]:
y = [0,1,2,3]
x = ['a','b','c','d']
c = 'c'

empty_list = []
for i in range(len(y)):
    if(x[i]== 'c'):
        empty_list.append(y[i])
    else:
        empty_list.append(x[i])
print(empty_list)

['a', 'b', 2, 'd']

In [0]:
[y[i] if x[i]==c else x[i] for i in  range(len(y))]

['a', 'b', 2, 'd']

#### Exercise 7.1.3 Advance list comprehension

- Given name = 'data',currentpick = ['_','_','t','_'], playerguess = 'd'
- Write a for loop that loop index. Convert '_' to 'd' in the correct position
- Transform this loop to list comprehension

In [0]:
#your code here

## 7.2.0 While loop recap

In [0]:
n = 10
while n > 5:
    # do sth
    print(n)
    n = n - 1

10
9
8
7
6

In [0]:
live = 8
while  live>0:
    print(live)
    live = live-1

8
7
6
5
4
3
2
1

#### Example 7.2.1  While loop

- write a while loop that breaks if life  =3

In [0]:
live = 5
while  live>0:
    print(live)
    if live==3:
        break
    live = live-1

5
4
3

#### Exercise 7.2.1 While loop

- Write a while loop that go from live = 0 to live = 10. Stop the loop if live >10
- Try to write an infinite loop. How can you do that?

In [0]:
#Your code here

## Test 7.3.0  Test of concept

Q1 Can you fix the bug?

In [0]:
for i in [1,2,3,4]:
    if i ==3:
        print('three')
    else:
        print(i)

SyntaxError: invalid syntax (<ipython-input-19-fe84ed5e44cd>, line 1)

Q2 In the python memory system: 
- what is variable s after you execute the code?
- what is variable x after you execute the code?
- which variable is assigned as 24?

In [0]:
x = 12
s = 1
def this_is_a_function(x):
    s = 10
    x = x*2+s
    print(x)
    return(x)

x = this_is_a_function(7)
x

24

24

Q3 Playing with list
- How do you get the second last object on the list?
- how do I get the length of the list?

In [0]:
x = range(31,9999)
#second last?

Q4 
- How to concatenate list a & b? concatenate them and name it c
- now, multiple every item on the new list by 3

In [0]:
a = [1,2,3]
b = [4,5,6]

In [0]:
a+b

In [0]:
for i in a+b:
    print(i*3)

3
6
9
12
15
18

In [0]:
import numpy as np
np.array(a+b)*3

array([ 3,  6,  9, 12, 15, 18])

Q5 Can you fix the bug? I want to concatenate x and y

In [0]:
x = [1,2,3]
y = [4]
x +y

[1, 2, 3, 4]

Q6 can you fix the bug?

In [0]:
[a if a==3 else '_' for a in [1,2,3] ]

['_', '_', 3]

Q7 Can you fix the bug?

In [0]:
[a  for a in [1,2,3] if a==3  ]

SyntaxError: invalid syntax (<ipython-input-41-78bf3a31660a>, line 1)

## Challenge 7.4.0

#### Challenge 7.4.1

Construct a function that returns all the divisors of the number the user inputs as a list.

 #### Challenge 7.4.2
 
 x = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

a) write a program that prints out all the elements of the list that are less than 5.


b) Instead of printing the elements one by one, make a new list that has all the elements less than 5 from this list in it and print out this new list.


c) Write this in one line of Python.


d)Ask the user for a number and return a list that contains only elements from the original list a that are smaller than that number given by the user.

#### Challenge 7.4.3

Write a program that asks the user how many Fibonnaci numbers to generate and then generates them. Take this opportunity to think about how you can use functions. Make sure to ask the user to enter the number of numbers in the sequence to generate.(Hint: The Fibonnaci seqence is a sequence of numbers where the next number in the sequence is the sum of the previous two numbers in the sequence. The sequence looks like this: 1, 1, 2, 3, 5, 8, 13, …)

#### Challenge 7.4.4

Generate a random number between 1 and 20 (including 1 and 20). Ask the user to guess the number, then tell them whether they guessed too low, too high, or exactly right. (Hint: remember to use the user input lessons from the very first exercise)

Extras:

Keep the game going until the user types “exit”
Keep track of how many guesses the user has taken, and when the game ends, print this out.

In [0]:
# This is a guess the number game.
import random
secretNumber = random.randint(1, 20)
print('I am thinking of a number between 1 and 20.')

# Ask the player to guess 6 times.
for guessesTaken in range(1, 7):
    print('Take a guess.')
    guess = int(input())

    if guess < secretNumber:
        print('Your guess is too low.')
    elif guess > secretNumber:
        print('Your guess is too high.')
    else:
        break    # This condition is the correct guess!

if guess == secretNumber:
    print('Good job! You guessed my number in ' + str(guessesTaken) + ' guesses!')
else:
    print('Nope. The number I was thinking of was ' + str(secretNumber))
#Let’s look at this code line by line, starting at the top.

I am thinking of a number between 1 and 20.
Take a guess.
10
Your guess is too low.
Take a guess.
15
Your guess is too low.
Take a guess.
18
Your guess is too high.
Take a guess.
17
Your guess is too high.
Take a guess.
16
Good job! You guessed my number in 5 guesses!

#### Challenge 7.4.5

Hangman

https://github.com/codeforhk/python_course/blob/master/py_class_2_Hangman_Breakdown.ipynb

## Take home exercise

Finish Hangman!